services:
  - type: web
    name: encode-public-chat
    env: node
    plan: free
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: ORIGIN
        value: ""
